{%- comment -%}
  Block  : wdt-card-description.liquid
  Type   : wdt-card-description
  Parent : blocks/wdt-card.liquid
{%- endcomment -%}

{%- if block.settings.description != blank -%}
  <div
    class="wdt-card__desc rte"
    {{ block.shopify_attributes }}
    style="
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
      padding-left: {{ block.settings.padding_left }}px;
      padding-right: {{ block.settings.padding_right }}px;
    "
  > 
    {{- block.settings.description -}}
  </div> 
{%- endif -%}
 
{% stylesheet %}

.wdt-card__desc {
  font-size: 0.875rem;
  line-height: 1.75;
  opacity: 0.75;
}
.wdt-card__desc p { margin-bottom: 0; }

{% endstylesheet %}

{% schema %}
{
  "name": "Description",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_left",
      "label": "Padding Left",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "label": "Padding Right",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
