{%- comment -%}
  Block  : wdt-button.liquid
  Type   : wdt-button
  Parent : blocks/wdt-header.liquid
{%- endcomment -%}

{%- if block.settings.label != blank -%}
  <div
    class="wdt-hdr__btn-wrap"
    {{ block.shopify_attributes }}
    style="
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    "
  >
    <a
      href="{{ block.settings.url | default: '#' }}"
      class="wdt-hdr__btn btn btn-{{ block.settings.style }}"
      {% if block.settings.open_new_tab %}
        target="_blank"
        rel="noopener noreferrer"
      {% endif %}
    >
      {{- block.settings.label | escape -}}
    </a>
  </div>
{%- endif -%}

{% stylesheet %}

.wdt-hdr__btn-wrap {
  display: flex;
  justify-content: inherit;
}

.wdt-hdr__btn.btn-link {
  padding-left: 0;
  padding-right: 0;
}

{% endstylesheet %}

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Button Label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "outline-secondary", "label": "Secondary" },
        { "value": "link", "label": "Link" }
      ],
      "default": "primary"
    },
    {
      "type": "checkbox",
      "id": "open_new_tab",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0, "max": 50, "step": 2, "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
